/*body{
  background-color: red;
} */
 
 *{
  margin: 0;
  padding: 0;
 }
.container{
  width: 100%;
  margin-top: 50px;
  justify-items: center;
  background-color: hsl(60, 12%, 91%);
  display: flex;
  justify-content: center;
  height: 350px;
  gap :5%;
  
  
}
.box-1{
  width: 450px;
  height: 200px;
  margin: 30px;
  border-radius: 5%;
  background-color: white;
  /* text-align: right; */

}
.dia-1{
  margin-left: 10px;
 padding: 10px;
}
.btn-item{
  position: relative;
  top: 60px;
  left: 45px;
  margin-right: 5px;
  text-decoration: none;
  
}
.box-2{
  width: 450px;
  height: 200px;
  margin: 30px;
  border-radius: 5%;
  background-color: white;
  /* text-align: right; */

}
.dia-1{
  margin-left: 10px;
 padding: 10px;
}

.box-3{
  width: 450px;
  height: 200px;
  margin: 30px;
  border-radius: 5%;
  background-color: white;
  /* text-align: right; */

}
.dia-3{
  margin-left: 10px;
  padding: 10px;
}
